footer {
  background-color: #013220;
}

footer a {
  filter: brightness(0.8);
  color: white;
}

footer a:hover {
  color: #ff7900;
}

footer .fa {
  padding: 0 3px;
}

.footer-copyright {
  color: white;
}