body {
  overflow-x: hidden;
}

.navbar {
  background-color: black;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

a.nav-link {
  background-color: black;
}
